<div class="form-container">
  <h1 class="header">Medical Records Login</h1>
  <form (ngSubmit)="login()">
    <div class="form-container">
      <div class="form-field">
          <label for="username" class="form-field">Username</label>
          <input id="username" [(ngModel)]="username" name="username" type="text" required  />

      </div>
      <div class="form-field">
          <label for="password" class="form-field">password</label>
          <input id="password" [(ngModel)]="password" name="password" type="password" required style="width: 180px;"/>
      </div>
      <div class="form-field" *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
      <button mat-raised-button type="submit" class="submit-btn">Login</button>
    </div>
  </form>
</div>