.default{
    width: 8000px;
    height: 50px;
    margin-top: 1%;
    margin-left: 1%;
  
}
.default-header{
    color: #545454;
font-family: Pyidaungsu;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-left: 1%;

}
.default-header-1{
    color: #2E75B6;
font-family: Pyidaungsu;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;

}
.card-margin{

    width: 1111px;
    
    flex-shrink: 0;
    border-radius: 8px;
background: #FFF;
margin-left: 15%;
margin-top: 3%;
}
.default-header-2{
    color: #545454;
    font-family: Pyidaungsu;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height:25%;
    margin-left: 0.5%;
 
}
.col-md-4{
    width: 496px;
    height: 43px;
    flex-shrink: 0;
    border-radius: 2px;
border: 1px solid #818181;

}
.col-sm-6{
   width: 1200px;
    height: 80px;
    margin-top: 1%;
  

}
.form-control{
    width: 307px;
height: 45px;
flex-shrink: 0;
border-radius: 5px;
border: 1px solid #818181;
background: #F8F8F8;
}
.btn-success{
    width: 169px;
height: 43px;
flex-shrink: 0;
border-radius: 30px;
background: #20744A;
}
.col-md-4-1{
    width: 88px;
height: 43px;
flex-shrink: 0;
border-radius: 2px;
border: 1px solid #818181;
}
.col-md{
    width: 384px;
height: 43px;
flex-shrink: 0;
border-radius: 2px;
border: 1px solid #818181;
margin-bottom: 0%;
}
